<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header> 
    <a href="/recipes"><h1 class="mainHeader">Prep-U</h1></a>
    <p class="mainHeader">a frustration-free meal prep community for the modern world</p>
  </header>
   

  <nav>
    <div class="nav-wrapper">
      
      <a href="#" class="brand-logo right">Login</a>
      {{!-- <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul> --}}
    </div>
  </nav>
    {{{body}}}
  </body>
</html>
