* {
  font: Helvetica;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #263238 
}
.recipe {
  display: none
}
.servings {
  display: none
}
.recipeTitle {
  text-decoration: underline;
}
.recipeLinks {
  color: #263238;
  font-size: 24px
}
.recipeLinks:hover {
  font-size: 26px;
}

.nav-wrapper {
  background-color: #ff6f00;
  border-radius: 8px
}
.returnAnchor {
  color: #ff6f00
}
.submitButton {
  color: #263238;
  background-color: #ff6f00
}
.row {
  margin-bottom: 20px
}
input {
  color: white
}
.row .col.s4 {
  min-height: 575px;
  text-align: center
}
#left {
  padding-bottom: 20px
}
#servingNumber {
  margin: auto
}
.ingredientLabel {
  color: #263238;
}
/* #login.row {
  display: flex;
  justify-content: right
}  */
.titleAnchor {
  color:#ff6f00;
  display: inline-flex;
  flex-direction: row;
  /* justify-content: left */
}
.subtitle {
  color: #ff6f00;
 
}

.loginBox {
  display: inline-flex;
  flex-direction: row;
  justify-content: right;
} 

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mainHeader {
  color: #ff6f00
}