<form action="/users/{{user._id}}?_method=PUT" method="POST"></br>

    <label for="name">Edit User Name</label>
    <input type="text" name="name" value="{{user.name}}">

    <input type="submit" value="Create" class="submitButton">

</form>