<form action="/users" method="POST"></br>

    <label for="name">What would you like your user name to be?</label>
    <input type="text" name="name">

    <input type="submit" value="Create" class="submitButton">

</form>
