<main>

	<h2 class="mainHeader">Share your favorite recipe</h2>
    <ul>
        <p class="mainHeader">Tell us what it's called...</p>
        <p class="mainHeader">What's in it...</p>
        <p class="mainHeader">How much it makes...</p>
        <p class="mainHeader">And where to find it!</p>
    </ul>
	
    <form action="/recipes" method="POST"></br>

        <label for="name">Recipe Name</label>
        <input type="text" name="name">

        <label for="ingredients">Ingredient 1</label>
        <input type="text" name="ingredients">

        <label for="ingredients">Ingredient 2</label>
        <input type="text" name="ingredients">

        <label for="ingredients">Ingredient 3</label>
        <input type="text" name="ingredients">

        <label for="ingredients">Ingredient 4</label>
        <input type="text" name="ingredients">

        <label for="ingredients">Ingredient 5</label>
        <input type="text" name="ingredients">

        <label for="url">Recipe Link</label>
        <input type="text" name="url">

        <label for="url">How many servings does it make?</label>
        <input type="text" name="servingNumber">

        <input type="submit" value="Create" class="submitButton">

    </form>
    </br>
    <a href="/" class="returnAnchor">Return to Home Page</a>
    
    
</main>