<main>

	<h2 class="mainHeader">Share your favorite recipe</h2>

	<a href="/" class="returnAnchor">Return to Home Page</a>

    <form action="/recipes" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name">

        <label for="ingredient">Ingredient One</label>
        <input type="text" name="ingredient">

        <label for="ingredient">Ingredient Two</label>
        <input type="text" name="ingredient">

        <label for="ingredient">Ingredient Three</label>
        <input type="text" name="ingredient">

        <label for="ingredient">Ingredient Four</label>
        <input type="text" name="ingredient">

        <label for="ingredient">Ingredient Five</label>
        <input type="text" name="ingredient">

        <label for="ingredient">Ingredient Six</label>
        <input type="text" name="ingredient">

        <input type="submit" value="Create">

    </form>
</main>